<div #map class="map"></div>
<div class="buttons-container editing-not-started" *ngIf="!isEditing">
  <button mat-raised-button color="accent" (click)="startEditing()">Add Polygon</button>
</div>
<div class="buttons-container editing-in-progress" *ngIf="isEditing">
  <button mat-raised-button color="accent" (click)="cancelEditing()">Cancel</button>
  <button mat-raised-button color="accent" (click)="savePolygon()">Save</button>
</div>
<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>
