.map-container {
  position: relative;
  .map {
    width: 100%;
    height: 500px;
  }

  .select-map-type {
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 0 10px;
    font-size: 10px;
  }
}

.buttons-container {
  display: flex;
  width: 100%;
  margin-top: 10px;

  button {
    font-size: 20px;
  }
}

.editing-in-progress {
  justify-content: space-between;
}

.editing-not-started {
  justify-content: center;

  button:first-of-type {
    margin-right: 10px
  }
}

.download {
  position: absolute;
  top: -5px;
  color: dimgray;
}

#download {
  display: none;
}
